#cuerpo{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
#panelesmenu{

    display: flex;
    justify-content: space-around;
}
#menucarta{
    margin-right: 20px;
    
}
#menucarta ul{
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    height: 95%;
    background-color: white;
    margin-top: 20%;
}
#menucarta li{
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}
#menucarta a{
    padding: 4px;
    text-decoration: none;
    color: black;
}

#menucarta a:hover{
    background-color: darkred;
    color: white;
    border: 1px;
    border-radius: 17px;
}
.panel{
    margin: auto;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10%;
    height: 42%;
    width: 85%;
    background-color: white;
    filter: drop-shadow(2px 1px 2px gray);
    border: 1px;
    border-radius: 10px;
    
}
#panelesmenu{
border: 2px solid rgb(190, 188, 188);
border-radius: 10px;
box-sizing: border-box;
padding: 20px;
}
.parte{
    height: 100%;
    flex-wrap: wrap;
}
.comida{
    width: 80%;
}